# Group Assignment: Formula 1 Data

Solve the questions regarding the `f1_data.csv` dataset. 

The full grade will be split as follows:
* 60 % notebook, code, and explanations of the questions
* 30 % presentation in class: quality of material, presentation, and Q&A
    * The presentation has to be about one specific driver, constructor, or circuit. Build a data-based history about the driver/circuit/constructor and present it.
    * You can present in any format you want: PPT, PDF, notebook, whatever
* 10 % visualization to support the answers and the presentation

The data is composed of the following variables:
* `car_number`: the number of the car
* `grid_starting_position`: the starting position of the car in the grid
* `final_position`: the position in which that driver ended
* `points`: the points earned by the driver in the race
* `laps`: the number of laps completed by the driver
* `total_race_time_ms`: the total time the driver took to complete the race in milliseconds
* `fastest_lap`: the fastest lap completed by the driver
* `rank`: the rank of the driver in the race
* `fastest_lap_time`: the time taken to complete the fastest lap
* `fastest_lap_speed`: the speed of the fastest lap
* `year`: the year of the race
* `race_number_season`: the number of the race in the season
* `race_name`: the name of the race
* `race_date`: the date of the race
* `race_start_time`: the start time of the race
* `circuit_name`: the name of the circuit where the race took place
* `circuit_location`: the location of the circuit
* `circuit_country`: the country where the circuit is located
* `circuit_lat`: the latitude of the circuit
* `circuit_lng`: the longitude of the circuit
* `circuit_altitude`: the altitude of the circuit
* `driver`: the name of the driver
* `driver_dob`: the date of birth of the driver
* `driver_nationality`: the nationality of the driver
* `constructor_name`: the name of the constructor team
* `constructor_nationality`: the nationality of the constructor team
* `status`: the status of the driver in the race (e.g., Finished, Did Not Finish, etc.)

**SUBMISSION: failing to comply with the submission format will result in a 0 grade**
* ONE (1) SINGLE ZIP FILE containing:
    * The notebook with the code and the answers
    * The presentation itself (PPT, PDF, notebook, whatever)
    * `f1_data.csv`
* The ZIP file should be named as follows: `group_assignment_<group_id>.zip`
  * For example, if you are group 1, the file should be named `group_assignment_1.zip`

### 0. Group Information

* Group ID: 3
* Members:
  * Anastasia Chapel.
  * Clara Sobejano.
  * Manuel Bonnelly.
  * Pablo Gallegos.
  * Yousef Joukhdar.

### 1. Basic operations. (1 point)

* Open the dataset as a pandas dataframe and show the first 10 rows

In [39]:
import pandas as pd

f1_data = pd.read_csv('f1_data.csv')

df = pd.DataFrame(f1_data)

print(df[:10])

   car_number  grid_starting_position  final_position  points  laps  \
0        22.0                       1             1.0    10.0    58
1         3.0                       5             2.0     8.0    58
2         7.0                       7             3.0     6.0    58
3         5.0                      11             4.0     5.0    58
4        23.0                       3             5.0     4.0    58
5         8.0                      13             6.0     3.0    57
6        14.0                      17             7.0     2.0    55
7         1.0                      15             8.0     1.0    53
8         4.0                       2             NaN     0.0    47
9        12.0                      18             NaN     0.0    43

   total_race_time_ms  fastest_lap  rank fastest_lap_time  fastest_lap_speed  \
0           5690616.0         39.0   2.0         1:27.452            218.300
1           5696094.0         41.0   3.0         1:27.739            217.586
2           5698779.0         41.0   5.0         1:28.090            216.719
3           5707797.0         58.0   7.0         1:28.603            215.464
4           5708630.0         43.0   1.0         1:27.418            218.385
5                 NaN         50.0  14.0         1:29.639            212.974
6                 NaN         22.0  12.0         1:29.534            213.224
7                 NaN         20.0   4.0         1:27.903            217.180
8                 NaN         15.0   9.0         1:28.753            215.100
9                 NaN         23.0  13.0         1:29.558            213.166

   ...  circuit_country  circuit_lat circuit_lng circuit_altitude  \
0  ...        Australia     -37.8497     144.968             10.0
1  ...        Australia     -37.8497     144.968             10.0
2  ...        Australia     -37.8497     144.968             10.0
3  ...        Australia     -37.8497     144.968             10.0
4  ...        Australia     -37.8497     144.968             10.0
5  ...        Australia     -37.8497     144.968             10.0
6  ...        Australia     -37.8497     144.968             10.0
7  ...        Australia     -37.8497     144.968             10.0
8  ...        Australia     -37.8497     144.968             10.0
9  ...        Australia     -37.8497     144.968             10.0

               driver  driver_dob driver_nationality constructor_name  \
0      Lewis Hamilton  1985-01-07            British          McLaren
1       Nick Heidfeld  1977-05-10             German       BMW Sauber
2        Nico Rosberg  1985-06-27             German         Williams
3     Fernando Alonso  1981-07-29            Spanish          Renault
4   Heikki Kovalainen  1981-10-19            Finnish          McLaren
5     Kazuki Nakajima  1985-01-11           Japanese         Williams
6  Sébastien Bourdais  1979-02-28             French       Toro Rosso
7      Kimi Räikkönen  1979-10-17            Finnish          Ferrari
8       Robert Kubica  1984-12-07             Polish       BMW Sauber
9          Timo Glock  1982-03-18             German           Toyota

   constructor_nationality     status
0                  British   Finished
1                   German   Finished
2                  British   Finished
3                   French   Finished
4                  British   Finished
5                  British     +1 Lap
6                  Italian     Engine
7                  Italian     Engine
8                   German  Collision
9                 Japanese   Accident

[10 rows x 27 columns]

* Show the number of rows and columns

In [40]:
print(df.shape)

(26080, 27)

* Show the data types of each column

In [41]:
print(df.dtypes)

car_number                 float64
grid_starting_position       int64
final_position             float64
points                     float64
laps                         int64
total_race_time_ms         float64
fastest_lap                float64
rank                       float64
fastest_lap_time            object
fastest_lap_speed          float64
year                         int64
race_number_season           int64
race_name                   object
race_date                   object
race_start_time             object
circuit_name                object
circuit_location            object
circuit_country             object
circuit_lat                float64
circuit_lng                float64
circuit_altitude           float64
driver                      object
driver_dob                  object
driver_nationality          object
constructor_name            object
constructor_nationality     object
status                      object
dtype: object

* Calculate a column called `age` which represents the age of each driver on the date of the race:
    * Hint1: use the `pd.to_datetime` function to convert the date columns to datetime
    * Hint2: use the `driver_dob` and substract from it the `race_date` column
    * Hint3: use the `dt.days` property to convert the result to days, then divide by 365.25 to get the age in years

In [42]:

df['driver_dob'] = pd.to_datetime(df['driver_dob'])#, infer_datetime_format=True, errors='coerce')
df['race_date'] = pd.to_datetime(df['race_date']) #, infer_datetime_format=True, errors='coerce')
df['age'] = (df['race_date'] - df['driver_dob']).dt.days / 365.25

#checking if new column 'age' makes sense:
print(df.loc[0:10,['driver', 'driver_dob', 'race_date', 'age']])

                driver driver_dob  race_date        age
0       Lewis Hamilton 1985-01-07 2008-03-16  23.186858
1        Nick Heidfeld 1977-05-10 2008-03-16  30.850103
2         Nico Rosberg 1985-06-27 2008-03-16  22.718686
3      Fernando Alonso 1981-07-29 2008-03-16  26.631075
4    Heikki Kovalainen 1981-10-19 2008-03-16  26.406571
5      Kazuki Nakajima 1985-01-11 2008-03-16  23.175907
6   Sébastien Bourdais 1979-02-28 2008-03-16  29.045859
7       Kimi Räikkönen 1979-10-17 2008-03-16  28.413415
8        Robert Kubica 1984-12-07 2008-03-16  23.271732
9           Timo Glock 1982-03-18 2008-03-16  25.995893
10         Takuma Sato 1977-01-28 2008-03-16  31.129363

### 2. Why do we have missing values in the `final_position` column? (1 point)

In [43]:
print("There can be some cases in which the driver does not have an ending position. For example, if the driver had engine problems \nor an accident and his car had to be retired, he won't have an ending position. We will check the data to probe these cases.")

print("\nWe start by checking the unique values in the 'final_position' column:")
print(df['final_position'].unique())

There can be some cases in which the driver does not have an ending position. For example, if the driver had engine problems
or an accident and his car had to be retired, he won't have an ending position. We will check the data to probe these cases.

We start by checking the unique values in the 'final_position' column:
[ 1.  2.  3.  4.  5.  6.  7.  8. nan  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33.]

In [44]:
print("As expected, the position in which the driver ended has integer values ranging from 1 to 33 and nulls (NaN). \nInteresting fact: Nowadays Formula 1 has 20 cars in the grid, being the rule 2 cars per constructor, but in the early days it allowed \nindepent competitors as long as they qualified. That's why the data goes from 1 to 33.")
print("\nNow we'll check for unique values in the 'status' column when 'final_position' is missing:")

unique_status_final_null = df.loc[df['final_position'].isna(), 'status'].unique()
print(unique_status_final_null)

As expected, the position in which the driver ended has integer values ranging from 1 to 33 and nulls (NaN).
Interesting fact: Nowadays Formula 1 has 20 cars in the grid, being the rule 2 cars per constructor, but in the early days it allowed
indepent competitors as long as they qualified. That's why the data goes from 1 to 33.

Now we'll check for unique values in the 'status' column when 'final_position' is missing:
['Collision' 'Accident' 'Transmission' 'Clutch' 'Engine' 'Electrical'
 'Hydraulics' 'Disqualified' 'Spun off' 'Gearbox' 'Radiator' 'Suspension'
 'Brakes' 'Overheating' 'Mechanical' 'Tyre' 'Driver Seat' 'Puncture'
 'Driveshaft' 'Retired' 'Fuel pressure' 'Front wing' 'Refuelling' 'Wheel'
 'Throttle' 'Steering' 'Electronics' 'Broken wing' 'Heat shield fire'
 'Exhaust' 'Oil leak' '+11 Laps' 'Technical' 'Wheel rim' 'Water leak'
 'Fuel pump' '+17 Laps' 'Oil pressure' 'Pneumatics' '+1 Lap' '+2 Laps'
 'Withdrew' '+12 Laps' 'Engine fire' '+26 Laps' 'Not classified'
 'Handling' 'Rear wing' 'Fire' 'Fuel system' 'Oil line' 'Fuel rig'
 'Launch control' 'Injured' 'Fuel' 'Out of fuel' 'Power loss' '107% Rule'
 'Safety' 'Drivetrain' 'Ignition' 'Did not qualify' 'Injury' 'Chassis'
 'Battery' 'Stalled' 'Halfshaft' 'Crankshaft' 'Safety concerns'
 'Not restarted' 'Differential' 'Wheel bearing' 'Physical' 'Alternator'
 'Vibrations' 'Underweight' 'Safety belt' 'Oil pump' 'Fuel leak'
 'Did not prequalify' 'Excluded' 'Injection' 'Distributor' 'Driver unwell'
 'Turbo' 'CV joint' 'Water pump' 'Fatal accident' 'Spark plugs' '+4 Laps'
 '+9 Laps' '+8 Laps' '+7 Laps' 'Fuel pipe' 'Eye injury' 'Oil pipe' 'Axle'
 'Water pipe' '+3 Laps' 'Magneto' '+6 Laps' 'Supercharger' '+10 Laps'
 'Track rod' '+42 Laps' 'Engine misfire' 'Wheel nut' '+14 Laps'
 'Collision damage' 'ERS' 'Power Unit' 'Water pressure' 'Brake duct'
 'Seat' 'Damage' 'Debris' 'Illness' 'Cooling system' 'Undertray']

In [45]:
print("Besides accidents, there are technical issues that force a driver to retire his car and fail to finish the race. \nThe values also show other conditions like health considerations (illness, physical), and disqualification.\nIn conclusion, 'final_position' will be a missing value when a driver does not finish a race or is disqualified.")

Besides accidents, there are technical issues that force a driver to retire his car and fail to finish the race.
The values also show other conditions like health considerations (illness, physical), and disqualification.
In conclusion, 'final_position' will be a missing value when a driver does not finish a race or is disqualified.

### 3. Constructor analytics (3 points)

* Which constructor has the most race wins? (0.5 points)

In [46]:
print(df[df['final_position']== 1].groupby("constructor_name").size().sort_values(ascending=False))

print("\nGrouping by constructor, counting the number of times of 'final position' equal to 1, and sorting the result in descending order, \nshows that Ferrari has the most race wins in F1 (243).")

constructor_name
Ferrari            243
McLaren            179
Mercedes           125
Williams           114
Red Bull           104
Team Lotus          45
Renault             35
Benetton            27
Tyrrell             23
Brabham             23
Lotus-Climax        22
BRM                 17
Cooper-Climax       12
Lotus-Ford          11
Alfa Romeo          11
Vanwall             10
Ligier               9
Matra-Ford           9
Maserati             9
Brabham-Repco        8
Brawn                8
Kurtis Kraft         5
Jordan               4
McLaren-Ford         4
Watson               3
March                3
Wolf                 3
Honda                3
Cooper-Maserati      2
Cooper               2
Brabham-Climax       2
Brabham-Ford         2
Epperly              2
Lotus F1             2
BMW Sauber           1
Eagle-Weslake        1
AlphaTauri           1
Alpine F1 Team       1
Hesketh              1
Lotus-BRM            1
Kuzma                1
Penske               1
Porsche              1
Shadow               1
Racing Point         1
Toro Rosso           1
Stewart              1
dtype: int64

Grouping by constructor, counting the number of times of 'final position' equal to 1, and sorting the result in descending order,
shows that Ferrari has the most race wins in F1 (243).

* Which constructor has the most podiums (position 1, 2, or 3)? (0.5 points)

In [47]:
print(df[(df['final_position']==1)|(df['final_position']==2)|(df['final_position']==3)].groupby("constructor_name").size().sort_values(ascending=False))

print("\nAgain, grouping by constructor, counting the numbre of times of 'final_position' being equal to 1, 2 or 3, and sorting the result in descending order, \nshows that Ferrari has the most podiums (813).")

constructor_name
Ferrari        813
McLaren        480
Williams       313
Mercedes       286
Red Bull       253
              ...
Lancia           1
Connaught        1
Phillips         1
Onyx             1
Shadow-Ford      1
Length: 76, dtype: int64

Again, grouping by constructor, counting the numbre of times of 'final_position' being equal to 1, 2 or 3, and sorting the result in descending order,
shows that Ferrari has the most podiums (813).

* Which constructor has the biggest probability of not finishing a race, according to the dataset? (0.5 points)

In [48]:
#The probability of not finishing a race is given by the number of times a driver from a constructor doesn't have a final position,
#divided by the number of total races that constructor participated in.
#In order to make this calculation, we will build two separate dataframes
#The first dataframe counts the number of times a constructor did not finish a race:
total_constructor_dnf = df[df['final_position'].isna()].groupby('constructor_name').size()

#The second dataframe counts the total number of races per constructor:
total_constructor_races = df.groupby('constructor_name').size()


#Now we calculate the probability of not finishing a race per constructor
dnf_probability = (total_constructor_dnf / total_constructor_races)

#In case a constructor finished all its races, it won't appear in the 'total_constructor_dnf' dataframe and will result in a null value,
#for this reason, we will fill those null values with 0:
dnf_probability = (total_constructor_dnf / total_constructor_races).fillna(0).reset_index(name='DNF Prob')


print(dnf_probability.sort_values(by='DNF Prob', ascending=False))

      constructor_name  DNF Prob
9          Andrea Moda       1.0
3                Adams       1.0
12      Arzani-Volpini       1.0
13   Aston Butterworth       1.0
8                 Amon       1.0
..                 ...       ...
141          Meskowski       0.0
176            Sherman       0.0
163                Rae       0.0
147              Olson       0.0
206          Wetteroth       0.0

[210 rows x 2 columns]

In [49]:
#There are 200 constructors that didn't finish any of their races:
print(dnf_probability[dnf_probability['DNF Prob']==1])

         constructor_name  DNF Prob
3                   Adams       1.0
8                    Amon       1.0
9             Andrea Moda       1.0
10                Apollon       1.0
12         Arzani-Volpini       1.0
13      Aston Butterworth       1.0
19               BRM-Ford       1.0
22                Bellasi       1.0
32                 Bromme       1.0
33                Bugatti       1.0
36              Cisitalia       1.0
39                 Connew       1.0
41             Cooper-ATS       1.0
42      Cooper-Alfa Romeo       1.0
48            Cooper-Ford       1.0
50            Cooper-OSCA       1.0
52              De Tomaso       1.0
53   De Tomaso-Alfa Romeo       1.0
54      De Tomaso-Ferrari       1.0
55         De Tomaso-Osca       1.0
57                Del Roy       1.0
58             Derrington       1.0
60                    EMW       1.0
65                  Elder       1.0
72               Ferguson       1.0
80                    Fry       1.0
86                   Hall       1.0
93                Kauhsen       1.0
94                  Klenk       1.0
100            LDS-Climax       1.0
108                  Life       1.0
114        Lotus-Borgward       1.0
117        Lotus-Maserati       1.0
120                   MBM       1.0
122                  Maki       1.0
133               McGuire       1.0
140              Merzario       1.0
142                Milano       1.0
153                  Pawl       1.0
156              Politoys       1.0
159                Protos       1.0
161                    RE       1.0
164               Rebaque       1.0
174          Shadow-Matra       1.0
175               Shannon       1.0
179            Snowberger       1.0
188                Sutton       1.0
191               Tec-Mec       1.0
200                Turner       1.0

* Which country has the most successful constructors in terms of race victories? (0.5 points)

In [50]:
#A race win means finish_position equal to one and the dataset contains a column with the constructor nationality.
#We just need to count the number of ocurrences and group by constructor nationality.

print(df[df['final_position']==1].groupby('constructor_nationality').size().sort_values(ascending=False))

#If we want to know those constructors:
print(df[df['final_position']==1].groupby(['constructor_nationality','constructor_name']).size())

constructor_nationality
British     494
Italian     281
German      127
Austrian    104
French       54
American     13
Swiss        11
Irish         4
Canadian      3
Japanese      3
dtype: int64
constructor_nationality  constructor_name
American                 Eagle-Weslake         1
                         Epperly               2
                         Kurtis Kraft          5
                         Kuzma                 1
                         Penske                1
                         Watson                3
Austrian                 Red Bull            104
British                  BRM                  17
                         Brabham              23
                         Brabham-Climax        2
                         Brabham-Ford          2
                         Brabham-Repco         8
                         Brawn                 8
                         Cooper                2
                         Cooper-Climax        12
                         Cooper-Maserati       2
                         Hesketh               1
                         Lotus F1              2
                         Lotus-BRM             1
                         Lotus-Climax         22
                         Lotus-Ford           11
                         March                 3
                         McLaren             179
                         McLaren-Ford          4
                         Racing Point          1
                         Shadow                1
                         Stewart               1
                         Team Lotus           45
                         Tyrrell              23
                         Vanwall              10
                         Williams            114
Canadian                 Wolf                  3
French                   Alpine F1 Team        1
                         Ligier                9
                         Matra-Ford            9
                         Renault              35
German                   BMW Sauber            1
                         Mercedes            125
                         Porsche               1
Irish                    Jordan                4
Italian                  AlphaTauri            1
                         Benetton             27
                         Ferrari             243
                         Maserati              9
                         Toro Rosso            1
Japanese                 Honda                 3
Swiss                    Alfa Romeo           11
dtype: int64

In [51]:

#A better way to display the data requires step by step counting and then merging:
constructor_wins = df[df['final_position']==1].groupby(['constructor_nationality','constructor_name']).size().reset_index(name='Constructor Wins')
constructor_nationality_wins = df[df['final_position']==1].groupby('constructor_nationality').size().reset_index(name='Nationality Wins')
merged_df = constructor_wins.merge(constructor_nationality_wins, on='constructor_nationality')


merged_df.sort_values(by=['Nationality Wins','Constructor Wins'], ascending=[False,False])

,constructor_nationality,constructor_name,Constructor Wins,Nationality Wins
22,British,McLaren,179,494
30,British,Williams,114,494
27,British,Team Lotus,45,494
8,British,Brabham,23,494
28,British,Tyrrell,23,494
19,British,Lotus-Climax,22,494
7,British,BRM,17,494
14,British,Cooper-Climax,12,494
20,British,Lotus-Ford,11,494
29,British,Vanwall,10,494
11,British,Brabham-Repco,8,494
12,British,Brawn,8,494
23,British,McLaren-Ford,4,494
21,British,March,3,494
9,British,Brabham-Climax,2,494
10,British,Brabham-Ford,2,494
13,British,Cooper,2,494
15,British,Cooper-Maserati,2,494
17,British,Lotus F1,2,494
16,British,Hesketh,1,494
18,British,Lotus-BRM,1,494
24,British,Racing Point,1,494
25,British,Shadow,1,494
26,British,Stewart,1,494
42,Italian,Ferrari,243,281
41,Italian,Benetton,27,281
43,Italian,Maserati,9,281
40,Italian,AlphaTauri,1,281
44,Italian,Toro Rosso,1,281
37,German,Mercedes,125,127
36,German,BMW Sauber,1,127
38,German,Porsche,1,127
6,Austrian,Red Bull,104,104
35,French,Renault,35,54
33,French,Ligier,9,54
34,French,Matra-Ford,9,54
32,French,Alpine F1 Team,1,54
2,American,Kurtis Kraft,5,13
5,American,Watson,3,13
1,American,Epperly,2,13
0,American,Eagle-Weslake,1,13
3,American,Kuzma,1,13
4,American,Penske,1,13
46,Swiss,Alfa Romeo,11,11
39,Irish,Jordan,4,4
31,Canadian,Wolf,3,3
45,Japanese,Honda,3,3

* Which are the current constructors (from 2023) with the longest history in Formula 1? (0.5 points)

In [52]:
#if we answer this question by looking in the dataset seeking the earliest year in which the name of the constructor appears,
#we will make a mistake by picking Mercedes as one of the oldest teams, because they withdrew from F1 in 1955 and rejoined in 2010.
#the correct answer to this question is counting the number of different years in which the name of the constructor appears.

#we first define current constructors (those in year 2023):
current_constructors = df.loc[df['year']==2023, 'constructor_name'].unique()

#we can do this by grouping by constructor name and using 'nunique' to count the number of distinct years
constructor_years = df.groupby('constructor_name')['year'].nunique().reset_index(name='Years in F1')

#and now we can restrict it to current constructors:
current_constructor_years = constructor_years[constructor_years['constructor_name'].isin(current_constructors)].sort_values(by='Years in F1',ascending=False)


print(current_constructor_years)
print('\nCurrent teams with the longest history in Formula 1 are Ferrari, McLaren, and Williams.')

    constructor_name  Years in F1
73           Ferrari           74
134          McLaren           54
207         Williams           48
165         Red Bull           19
139         Mercedes           16
4         Alfa Romeo           16
85      Haas F1 Team            8
14      Aston Martin            5
5         AlphaTauri            4
6     Alpine F1 Team            3

Current teams with the longest history in Formula 1 are Ferrari, McLaren, and Williams.

* Which is the constructor with the most drivers in Formula 1 across its history? (0.5 points)

In [53]:
#again, we group by constructor_name and use nunique to count the number of distinct drivers
constructor_drivers_count = df.groupby('constructor_name')['driver'].nunique().reset_index(name='Different Drivers')

#and sort it in descending order
constructor_drivers_count.sort_values(by='Different Drivers', ascending=False)

    constructor_name  Different Drivers
73           Ferrari                 97
130         Maserati                 92
96      Kurtis Kraft                 87
18               BRM                 70
207         Williams                 61
..               ...                ...
188           Sutton                  1
191          Tec-Mec                  1
199           Trojan                  1
200           Turner                  1
206        Wetteroth                  1

[210 rows x 2 columns]

### 4. Driver analytics (3 points)

* With the data available, who is the fastest driver in Formula 1? (0.5 point)

In [99]:
#as the word "fastest" points to speed only and not results, this question will be answered by calcuting 
#the average number of times each driver has gotten the fastest lap in a race.
#this involves first counting the number of fastest laps a driver has gotten in his career,
#and then dividing it by the total number of races that driver has participated in.

#we begin by cleaning the dataset by dropping NaN values in fastest_lap_time and converting this column to total seconds format.

f1_data_cleaned = df.dropna(subset=['fastest_lap_time']).copy()

def convert_time_to_seconds(time_str):
    minutes, seconds = time_str.split(":")
    return int(minutes) * 60 + float(seconds)

f1_data_cleaned['fastest_lap_seconds'] = f1_data_cleaned['fastest_lap_time'].apply(convert_time_to_seconds)

#grouping data by circuit and year for minimum fastest lap time:
fastest_laps = f1_data_cleaned.loc[
    f1_data_cleaned.groupby(['race_date'])['fastest_lap_seconds'].idxmin()
]

fastest_laps_driver = fastest_laps.groupby('driver').size()
#number of races per driver:
races_driver = df.groupby('driver').size()

avg_fastest_lap_driver = (fastest_laps_driver/races_driver).fillna(0).sort_values(ascending=False)

print(avg_fastest_lap_driver)
print("\nAs the driver with the greatest average fastest laps in his career, Lewis Hamilton is the fastest driver in F1.")

driver
Lewis Hamilton       0.195652
Max Verstappen       0.154286
Sebastian Vettel     0.126667
Kimi Räikkönen       0.119318
Nico Rosberg         0.097087
                       ...
Zsolt Baumgartner    0.000000
Élie Bayol           0.000000
Éric Bernard         0.000000
Érik Comas           0.000000
Wayne Weiler         0.000000
Length: 857, dtype: float64

As the driver with the greatest average fastest laps in his career, Lewis Hamilton is the fastest driver in F1.

* Which is the driver with the most podiums without a win (position 2 or 3)? (0.5 point)

In [55]:
#we will approach this question step by step.
#first we will identify the drivers who have never won a race by substracting the winners from the dataset.

winner_drivers = df[df['final_position']==1 ]['driver'].unique()
loser_drivers = df[~df['driver'].isin(winner_drivers)]

#now we filter this data for podium positions only:
podiums = loser_drivers[loser_drivers['final_position'].isin([2,3])]

#now we group this data (only podiums) by driver, counting each appearance and sorting in descending order
podium_driver = podiums.groupby('driver').size().reset_index(name='Podium Appearances').sort_values(by='Podium Appearances', ascending=False)

print(podium_driver)
print('\nThe driver with the most podiums who has never won a race is Nick Heidfeld.')

                driver  Podium Appearances
64       Nick Heidfeld                  13
86    Stefan Johansson                  12
12          Chris Amon                  11
82     Romain Grosjean                  10
32          Jean Behra                   9
..                 ...                 ...
95   Tony Bettenhausen                   1
97       Trevor Taylor                   1
99       Vitaly Petrov                   1
100     Willy Mairesse                   1
101       Éric Bernard                   1

[102 rows x 2 columns]

The driver with the most podiums who has never won a race is Nick Heidfeld.

* Calculate the historical probability of each country of having a driver in the podium (0.5 point)

In [56]:
#for each distinct driver_nationality, we will calculate the number of podiums and the number of total races to divide them.

#we begin by grouping the dataset by driver_nationality for final_position being 1, 2 or 3.
nationality_podiums = df[df['final_position'].isin([1,2,3])].groupby('driver_nationality').size().sort_values(ascending=False)

#now we group by nationality without the podium condition (total races)
nationality_races = df.groupby('driver_nationality').size().sort_values(ascending=False)

#now we divide both. in cases were no driver of that nationality got a podium, it won't appear in nationality_podium and will return NaN,
#that's why we will replace NaN with 0 (no podium, 0 probability).
nationality_podium_probability = (nationality_podiums / nationality_races).fillna(0).reset_index(name='Podium Probability').sort_values(by='Podium Probability',ascending=False)

nationality_podium_probability

   driver_nationality  Podium Probability
2           Argentine            0.262735
12          Colombian            0.240000
17            Finnish            0.211389
29         Monegasque            0.194444
15              Dutch            0.181275
30      New Zealander            0.179293
19             German            0.173205
35      South African            0.171429
5            Austrian            0.171014
8             British            0.167041
4          Australian            0.155689
7           Brazilian            0.150026
36            Spanish            0.143026
31             Polish            0.121212
18             French            0.102048
0            American            0.099923
28            Mexican            0.092166
37            Swedish            0.086275
9            Canadian            0.084052
6             Belgian            0.076142
38              Swiss            0.072581
24            Italian            0.060562
33          Rhodesian            0.055556
39               Thai            0.022222
34            Russian            0.018779
32         Portuguese            0.011494
41         Venezuelan            0.008333
14             Danish            0.005291
25           Japanese            0.004637
1    American-Italian            0.000000
3   Argentine-Italian            0.000000
11            Chinese            0.000000
10            Chilean            0.000000
16        East German            0.000000
22         Indonesian            0.000000
23              Irish            0.000000
20          Hungarian            0.000000
21             Indian            0.000000
13              Czech            0.000000
26    Liechtensteiner            0.000000
27          Malaysian            0.000000
40          Uruguayan            0.000000

* Calculate the historical probability of each country of having a driver win a race (0.5 point)

In [57]:
#similar to last exercise, for each distinct driver_nationality, we will calculate the number of wins and the number of total races to divide them.

#first we group the dataset by driver_nationality for final_position being 1.
nationality_wins = df[df['final_position']==1].groupby('driver_nationality').size().sort_values(ascending=False)

#we use the same variable as before for total races by nationality:
nationality_races = df.groupby('driver_nationality').size().sort_values(ascending=False)

#now we divide both. in cases were no driver of that nationality won a race, it won't appear in nationality_wins and will return NaN,
#that's why we will replace NaN with 0 (no wins, 0 probability).
nationality_win_probability = (nationality_wins / nationality_races).fillna(0).reset_index(name='Win Probability').sort_values(by='Win Probability',ascending=False)

nationality_win_probability

   driver_nationality  Win Probability
2           Argentine         0.101877
15              Dutch         0.089641
19             German         0.074708
8             British         0.069376
5            Austrian         0.059420
12          Colombian         0.056000
7           Brazilian         0.051715
4          Australian         0.051497
17            Finnish         0.049180
35      South African         0.047619
36            Spanish         0.039007
9            Canadian         0.036638
29         Monegasque         0.034722
30      New Zealander         0.030303
18             French         0.026750
0            American         0.025562
37            Swedish         0.023529
6             Belgian         0.018613
28            Mexican         0.018433
38              Swiss         0.014113
24            Italian         0.012580
31             Polish         0.010101
41         Venezuelan         0.008333
1    American-Italian         0.000000
3   Argentine-Italian         0.000000
13              Czech         0.000000
25           Japanese         0.000000
23              Irish         0.000000
22         Indonesian         0.000000
21             Indian         0.000000
20          Hungarian         0.000000
11            Chinese         0.000000
14             Danish         0.000000
16        East German         0.000000
10            Chilean         0.000000
32         Portuguese         0.000000
27          Malaysian         0.000000
26    Liechtensteiner         0.000000
33          Rhodesian         0.000000
34            Russian         0.000000
39               Thai         0.000000
40          Uruguayan         0.000000

* Which driver was the youngest to win a race? (0.5 point)

In [69]:
#as we already added the 'age' column, we will filter the dataset by final_position being 1 and will sort it by 'age' ascending order:

winners_sorted_by_age = df[df['final_position']==1].sort_values(by='age')

print(winners_sorted_by_age['driver'])

print('\nYoungest drive to win a race is Max Verstappen.')

23000    Max Verstappen
23657    Max Verstappen
23717    Max Verstappen
23937    Max Verstappen
24137    Max Verstappen
              ...
18736       Juan Fangio
18790       Juan Fangio
18824       Juan Fangio
19555       Nino Farina
19917     Luigi Fagioli
Name: driver, Length: 1094, dtype: object

Youngest drive to win a race is Max Verstappen.

* Which drivers are the current ones with the longest history in Formula 1? (0.5 point)

Hint: remember that a probability is calculated as the number of times an event happened divided by the total number of events

In [59]:
#we will group by driver name and using 'nunique' to count the number of distinct years of appearance.
driver_years = df.groupby('driver')['year'].nunique().reset_index(name='Years in F1').sort_values(by='Years in F1', ascending=False)

#now we define current drivers (year 2023):
current_drivers = df.loc[df['year']==2023, 'driver'].unique()

#now we restrict driver_years to current drivers only:
current_driver_years = driver_years[driver_years['driver'].isin(current_drivers)].sort_values(by='Years in F1',ascending=False)

current_driver_years

               driver  Years in F1
256   Fernando Alonso           20
521    Lewis Hamilton           17
170  Daniel Ricciardo           13
764      Sergio Pérez           13
610   Nico Hülkenberg           12
827   Valtteri Bottas           11
499   Kevin Magnussen            9
128      Carlos Sainz            9
568    Max Verstappen            9
246      Esteban Ocon            7
508      Lance Stroll            7
690      Pierre Gasly            7
132   Charles Leclerc            6
509      Lando Norris            5
292    George Russell            5
31    Alexander Albon            4
850      Yuki Tsunoda            3
322       Guanyu Zhou            2
621     Nyck de Vries            2
523    Logan Sargeant            1
629     Oscar Piastri            1

### 5. Circuit analytics (2 points)

* Which would you say is the toughest circuit in Formula 1? (0.5 point)

In [60]:
# for us, the thoughest circuit is the one that has not been finished, in average, by the greatest number of drivers.
# to calculate this, we will count the number of 'final_position' with null values in it, grouped by circuit,
# and then we will count the number of times each circuit has been raced (counting years grouped by circuit)

circuit_no_finish = df[df['final_position'].isna()].groupby('circuit_name').size().reset_index(name='DNFs')
circuit_years = df.groupby('circuit_name')['year'].nunique().reset_index(name="Circuit Years")

circuit_avg_no_finish = circuit_no_finish.merge(circuit_years, on='circuit_name')
circuit_avg_no_finish['avg_dnf']= circuit_avg_no_finish['DNFs']/circuit_avg_no_finish['Circuit Years']
print(circuit_avg_no_finish.sort_values(by="avg_dnf", ascending=False))

print("\n24 not finishing cars on average doesn't make sense. We will check the status column for Phoenix Street Circuit\nto see what's behind.\n")

print(df.loc[df['circuit_name']=='Phoenix street circuit', 'status'].unique())

#we will exclude status 'Did not prequalify', 'Disqualified', 'Did not qualify', from the previouos calculations as they are not related to the circuit
print('\n')
excluded_statuses = ['Did not prequalify', 'Disqualified', 'Did not qualify']
circuit_no_finish_statusfilt = df[(df['final_position'].isna() & ~df['status'].isin(excluded_statuses))].groupby('circuit_name').size().reset_index(name='Total DNFs')

dnf_years_circuit = circuit_no_finish_statusfilt.merge(circuit_years, on='circuit_name')
dnf_years_circuit['avg_dnf']= (dnf_years_circuit['Total DNFs']/dnf_years_circuit['Circuit Years'])
print(dnf_years_circuit.sort_values(by='avg_dnf', ascending=False))

print('\nFair Park should be considerd the toughest circuit, but it was raced one year only. On the other hand, \nwith 7 years of history and almost the same average DNF, Detroit Street Circuit stands out \nas the most challenging circuit in F1.')

                             circuit_name  DNFs  Circuit Years    avg_dnf
58                 Phoenix street circuit    72              3  24.000000
35                              Fair Park    18              1  18.000000
47                             Long Beach   137              8  17.125000
9   Autódromo Internacional Nelson Piquet   171             10  17.100000
32                 Detroit Street Circuit   119              7  17.000000
..                                    ...   ...            ...        ...
73                     Yas Marina Circuit    41             14   2.928571
71                Valencia Street Circuit    13              5   2.600000
48           Losail International Circuit     2              1   2.000000
50          Miami International Autodrome     3              2   1.500000
10     Autódromo Internacional do Algarve     2              2   1.000000

[76 rows x 4 columns]

24 not finishing cars on average doesn't make sense. We will check the status column for Phoenix Street Circuit
to see what's behind.

['Finished' '+1 Lap' '+2 Laps' '+3 Laps' '+4 Laps' 'Engine' '+8 Laps'
 'Gearbox' 'Collision' 'Fuel pump' 'Spun off' 'Did not qualify'
 'Did not prequalify' '+5 Laps' '+6 Laps' 'Physical' 'Brakes' 'Clutch'
 'Accident' 'Oil leak' 'Electrical' 'Throttle' 'Disqualified'
 'Fuel system' 'Alternator' 'Suspension' 'Transmission']


                          circuit_name  Total DNFs  Circuit Years    avg_dnf
35                           Fair Park          16              1  16.000000
32              Detroit Street Circuit         110              7  15.714286
58              Phoenix street circuit          42              3  14.000000
34                      Donington Park          14              1  14.000000
1              Adelaide Street Circuit         152             11  13.818182
..                                 ...         ...            ...        ...
73                  Yas Marina Circuit          41             14   2.928571
71             Valencia Street Circuit          13              5   2.600000
48        Losail International Circuit           2              1   2.000000
50       Miami International Autodrome           3              2   1.500000
10  Autódromo Internacional do Algarve           2              2   1.000000

[76 rows x 4 columns]

Fair Park should be considerd the toughest circuit, but it was raced one year only. On the other hand,
with 7 years of history and almost the same average DNF, Detroit Street Circuit stands out
as the most challenging circuit in F1.

* Which circuit requires the most f1 experience to win? (0.5 point)

In [61]:
# to answer this question, we will create a new column called 'years_in_f1' that shows the difference between a driver's
# first F1 appearance with the date of the race, then we will calculate the average years in f1 per circuit to reach
# final_position 1

# driver and first f1 appearance:
first_year_f1 = df.groupby('driver')['race_date'].min().reset_index(name='first_date')

#merge our df to add this new column 'first_date'
f1_new = df.merge(first_year_f1, on='driver')

#difference in days between race date and first date in days, divided by 365.25 as in the first exercise to have it in years.
f1_new['years_in_f1'] = (f1_new['race_date']-f1_new['first_date']).dt.days/365.25

# now we will group by circuit with final_position==1, displaying the mean of years_in_f1.
f1_new[f1_new['final_position']==1].groupby('circuit_name')['years_in_f1'].mean().sort_values(ascending=False)

circuit_name
Losail International Circuit            14.680356
Autódromo Internacional do Algarve      13.865845
Autodromo Internazionale del Mugello    13.492129
Le Mans                                 11.961670
Jeddah Corniche Circuit                 11.243441
                                          ...
Zeltweg                                  3.181383
Nivelles-Baulers                         2.848734
Circuit Bremgarten                       2.067625
Circuit de Pedralbes                     1.898700
Sebring International Raceway            1.357974
Name: years_in_f1, Length: 76, dtype: float64

* Which circuit and year saw the most number of non-finishers? (0.5 point)

In [62]:
#we will count number of NaN values in 'final_position' excluding statuses 'Did not prequalify', 'Disqualified', 'Did not qualify'

excluded_statuses = ['Did not prequalify', 'Disqualified', 'Did not qualify']
circuit_no_finish = df[(df['final_position'].isna() & ~df['status'].isin(excluded_statuses))].groupby(['circuit_name', 'year']).size().reset_index(name='DNFs')
circuit_no_finish.sort_values(by='DNFs', ascending=False)

print('In 1961 Autodromo Nazionale di Monza saw 26 non-finishers.')

In 1961 Autodromo Nazionale di Monza saw 26 non-finishers.

* For each constructor, which is their best circuit in terms of amount of podiums? (0.5 point)

In [63]:
#a podium means finishing 1, 2 or 3.
podium_finishes = df[df['final_position'].isin([1, 2, 3])]

# now we grup the data by circuit and constructor, counting the number of podium finishes
podium_counts = podium_finishes.groupby(['circuit_name', 'constructor_name']).size().reset_index(name='Podium Count').sort_values(by='constructor_name')

max_podiums_per_constructor = podium_counts.loc[podium_counts.groupby('constructor_name')['Podium Count'].idxmax()]
max_podiums_per_constructor.sort_values(by='Podium Count', ascending=False)

                     circuit_name constructor_name  Podium Count
59   Autodromo Nazionale di Monza          Ferrari            73
71   Autodromo Nazionale di Monza          McLaren            28
420                Hockenheimring         Williams            21
442   Indianapolis Motor Speedway     Kurtis Kraft            19
687           Silverstone Circuit         Mercedes            19
..                            ...              ...           ...
611                 Red Bull Ring      Shadow-Ford             1
213            Circuit Bremgarten      Talbot-Lago             1
80   Autodromo Nazionale di Monza          Surtees             1
191                  Brands Hatch          Toleman             1
419                Hockenheimring       Toro Rosso             1

[76 rows x 3 columns]

## Code for the presentation goes here

Build a data-based history about a driver/circuit/constructor and present it using your preferred format. You can use any of the data available in the dataset.

Examples:
* The most successful driver in Formula 1 history
* Why Monaco is the most difficult circuit in Formula 1
* The history of Ferrari in Formula 1
* ...

# Ferrari's irregular performance over its history: the rise of the Kaiser and the arrival of "Il Predestinato".

In [70]:
#we will start by summing the points each constructor scored each year.
points_by_constructor = df.groupby(['constructor_name', 'year'])['points'].sum().reset_index()

#we can also query only the top scorer of points for each season.
constructor_top = points_by_constructor.loc[
    points_by_constructor.groupby('year')['points'].idxmax()
]

#with this data we can easily count the number of championships per constructor:
print(constructor_top.groupby('constructor_name').size().reset_index(name="Times at the Top").sort_values(by="Times at the Top",ascending=False),"\n\nThis doesn't count as the number of titles as the Constructor's Championship was awarded only for the points\nof the top-scoring driver per team before 1979. In any case, historically Ferrari is the most successful team in F1, \nbut it has had periods of ups and down.")

   constructor_name  Times at the Top
6           Ferrari                22
17         Williams                 9
12         Mercedes                 9
11          McLaren                 9
13         Red Bull                 6
1               BRM                 3
14          Renault                 2
3     Brabham-Repco                 2
5     Cooper-Climax                 2
16          Tyrrell                 2
0        Alfa Romeo                 1
9          Maserati                 1
7      Lotus-Climax                 1
4             Brawn                 1
2          Benetton                 1
8        Lotus-Ford                 1
10       Matra-Ford                 1
15       Team Lotus                 1

This doesn't count as the number of titles as the Constructor's Championship was awarded only for the points
of the top-scoring driver per team before 1979. In any case, historically Ferrari is the most successful team in F1,
but it has had periods of ups and down.

In [65]:
#for a better understanding of Ferrari's performance over the years, we will group the data by decades:

constructor_top['decade'] = (constructor_top['year'] // 10) * 10

print(constructor_top.groupby(['decade','constructor_name']).size())

print("\nAs you can see, Ferrari monopolized Formula 1 during the 50s, had a slump in the 60s and returned to glory in the 70s.")
print("After that, two decades of poor performance followed, until the 2000s arrived, bringing great success back to the Scuderia.\nUnfortunately, since then, Mercedes and Red Bull have completely overshadowed Ferrari.")

decade  constructor_name
1950    Alfa Romeo          1
        Cooper-Climax       1
        Ferrari             6
        Maserati            1
        Mercedes            1
1960    BRM                 3
        Brabham-Repco       2
        Cooper-Climax       1
        Ferrari             1
        Lotus-Climax        1
        Lotus-Ford          1
        Matra-Ford          1
1970    Ferrari             6
        McLaren             1
        Team Lotus          1
        Tyrrell             2
1980    Ferrari             2
        McLaren             4
        Williams            4
1990    Benetton            1
        Ferrari             1
        McLaren             3
        Williams            5
2000    Brawn               1
        Ferrari             6
        McLaren             1
        Renault             2
2010    Mercedes            6
        Red Bull            4
2020    Mercedes            2
        Red Bull            2
dtype: int64

As you can see, Ferrari monopolized Formula 1 during the 50s, had a slump in the 60s and returned to glory in the 70s.
After that, two decades of poor performance followed, until the 2000s arrived, bringing great success back to the Scuderia.
Unfortunately, since then, Mercedes and Red Bull have completely overshadowed Ferrari.

In [71]:
#what happened in Ferrari during the 2000s?
ferrari_data_2000_2009 = df[
    (df['constructor_name'] == 'Ferrari') & 
    (df['year'].between(2000, 2009))
]

ferrari_driver_performance = ferrari_data_2000_2009.groupby('driver').agg({
    'points': ['sum', 'mean'], 
    'final_position': lambda x: (x == 1).sum()
}).reset_index()

ferrari_driver_performance.columns = ['Driver', 'Total Points', 'Average Points', 'Wins']

ferrari_driver_performance_sorted = ferrari_driver_performance.sort_values(
    by=['Wins', 'Average Points'], ascending=[False, False]
)

print(ferrari_driver_performance_sorted)
print("\nLooks like the driver who contributed the most to the team during this decade was Michael Schumacher.\nLet's dive into his career:")

                 Driver  Total Points  Average Points  Wins
4    Michael Schumacher         799.0        6.549180    56
0          Felipe Massa         293.0        4.650794    11
2        Kimi Räikkönen         233.0        4.480769     9
5    Rubens Barrichello         412.0        3.961538     9
1  Giancarlo Fisichella           0.0        0.000000     0
3           Luca Badoer           0.0        0.000000     0

Looks like the driver who contributed the most to the team during this decade was Michael Schumacher.
Let's dive into his career:

In [84]:
schumacher_data = df[df['driver'] == 'Michael Schumacher']

schumacher_summary = schumacher_data.groupby(['year', 'constructor_name']).agg({
    'points': 'sum',  
    'final_position': lambda x: (x == 1).sum()
}).reset_index()

schumacher_summary.rename(columns={
    'points': 'Total Points',
    'final_position': 'Wins'
}, inplace=True)

print(schumacher_summary)

print("\nLet's quickly check during what years Schumacher was the champion:")

points_by_driver_year = df[df['year'].isin(range(1991,2007))].groupby(['driver', 'year'])['points'].sum().reset_index()

#maximum points scored by drivers in each year
max_points_per_year = points_by_driver_year.groupby('year')['points'].max().reset_index(name='Max Points')

#Schumacher's data merged with the maximum points data
schumacher_points = points_by_driver_year[points_by_driver_year['driver'] == 'Michael Schumacher']
schumacher_with_max = pd.merge(schumacher_points, max_points_per_year, on='year')

#check if Schumacher's points match the maximum points for each year, if yes, Champion==True
schumacher_with_max['Champion'] = schumacher_with_max['points'] == schumacher_with_max['Max Points']

schumacher_with_max

    year constructor_name  Total Points  Wins
0   1991         Benetton           4.0     0
1   1991           Jordan           0.0     0
2   1992         Benetton          53.0     1
3   1993         Benetton          52.0     1
4   1994         Benetton          92.0     8
5   1995         Benetton         102.0     9
6   1996          Ferrari          59.0     3
7   1997          Ferrari          78.0     5
8   1998          Ferrari          86.0     6
9   1999          Ferrari          44.0     2
10  2000          Ferrari         108.0     9
11  2001          Ferrari         123.0     9
12  2002          Ferrari         144.0    11
13  2003          Ferrari          93.0     6
14  2004          Ferrari         148.0    13
15  2005          Ferrari          62.0     1
16  2006          Ferrari         121.0     7
17  2010         Mercedes          72.0     0
18  2011         Mercedes          76.0     0
19  2012         Mercedes          49.0     0

Let's quickly check during what years Schumacher was the champion:

                driver  year  points  Max Points  Champion
0   Michael Schumacher  1991     4.0        96.0     False
1   Michael Schumacher  1992    53.0       108.0     False
2   Michael Schumacher  1993    52.0        99.0     False
3   Michael Schumacher  1994    92.0        92.0      True
4   Michael Schumacher  1995   102.0       102.0      True
5   Michael Schumacher  1996    59.0        97.0     False
6   Michael Schumacher  1997    78.0        81.0     False
7   Michael Schumacher  1998    86.0       100.0     False
8   Michael Schumacher  1999    44.0        76.0     False
9   Michael Schumacher  2000   108.0       108.0      True
10  Michael Schumacher  2001   123.0       123.0      True
11  Michael Schumacher  2002   144.0       144.0      True
12  Michael Schumacher  2003    93.0        93.0      True
13  Michael Schumacher  2004   148.0       148.0      True
14  Michael Schumacher  2005    62.0       133.0     False
15  Michael Schumacher  2006   121.0       134.0     False

In [85]:
print("So, before joining Ferrari in 1996, Schumacher had already been crowned World Champion twice.\nAfter joining Ferrari he spent 4 years without titles, but from 2000 to 2004 he won the Driver's Championship.")
print("What has been Ferrari doing since then? ")

ferrari_data = df[
    (df['constructor_name'] == 'Ferrari') & 
    (df['year'].between(2007, 2023))
]


ferrari_driver_summary = ferrari_data.groupby(['year', 'driver']).agg({
    'points': 'sum', 
    'final_position': lambda x: (x == 1).sum() 
}).reset_index()


ferrari_driver_summary.rename(columns={
    'points': 'Total Points',
    'final_position': 'Wins'
}, inplace=True)

ferrari_driver_summary = ferrari_driver_summary.sort_values(by=['year', 'Total Points'], ascending=[True, False])

ferrari_driver_summary

So, before joining Ferrari in 1996, Schumacher had already been crowned World Champion twice.
After joining Ferrari he spent 4 years without titles, but from 2000 to 2004 he won the Driver's Championship.
What has been Ferrari doing since then?

    year                driver  Total Points  Wins
1   2007        Kimi Räikkönen         110.0     6
0   2007          Felipe Massa          94.0     3
2   2008          Felipe Massa          97.0     6
3   2008        Kimi Räikkönen          75.0     2
6   2009        Kimi Räikkönen          48.0     1
4   2009          Felipe Massa          22.0     0
5   2009  Giancarlo Fisichella           0.0     0
7   2009           Luca Badoer           0.0     0
9   2010       Fernando Alonso         252.0     5
8   2010          Felipe Massa         144.0     0
11  2011       Fernando Alonso         257.0     1
10  2011          Felipe Massa         118.0     0
13  2012       Fernando Alonso         278.0     3
12  2012          Felipe Massa         122.0     0
15  2013       Fernando Alonso         242.0     2
14  2013          Felipe Massa         112.0     0
16  2014       Fernando Alonso         161.0     0
17  2014        Kimi Räikkönen          55.0     0
19  2015      Sebastian Vettel         278.0     3
18  2015        Kimi Räikkönen         150.0     0
21  2016      Sebastian Vettel         212.0     0
20  2016        Kimi Räikkönen         186.0     0
23  2017      Sebastian Vettel         317.0     5
22  2017        Kimi Räikkönen         205.0     0
25  2018      Sebastian Vettel         320.0     5
24  2018        Kimi Räikkönen         251.0     1
26  2019       Charles Leclerc         264.0     2
27  2019      Sebastian Vettel         240.0     1
28  2020       Charles Leclerc          98.0     0
29  2020      Sebastian Vettel          33.0     0
30  2021          Carlos Sainz         163.5     0
31  2021       Charles Leclerc         159.0     0
33  2022       Charles Leclerc         291.0     3
32  2022          Carlos Sainz         228.0     1
35  2023       Charles Leclerc          88.0     0
34  2023          Carlos Sainz          77.0     0

In [95]:
print("Charles Leclerc has been in Ferrari since 2019. How well has he performed?\n")

lecler_data = df[df['driver'] == 'Charles Leclerc']

leclerc_summary = lecler_data.groupby(['year', 'constructor_name']).agg({
    'points': 'sum',  
    'final_position': lambda x: (x==1).sum()  
}).reset_index()

leclerc_summary.rename(columns={
    'points': 'Total Points',
    'final_position': 'Wins'
}, inplace=True)

print(leclerc_summary)

print("\nLet's remind how were the first 5 years of Schumacher in Ferrari:")

print(schumacher_summary[schumacher_summary['year'].between(1996,2000)])

print("\nTotal points can be deceiving. A far better metric is number of wins in this case. Schumacher didn't accomplish\na lot during the his first 4 years in Ferrari, but he still was winning races in every single season. In this \nregard, Leclerc's wins are an exception, not a rule.")

Charles Leclerc has been in Ferrari since 2019. How well has he performed?

   year constructor_name  Total Points  Wins
0  2018           Sauber          39.0     0
1  2019          Ferrari         264.0     2
2  2020          Ferrari          98.0     0
3  2021          Ferrari         159.0     0
4  2022          Ferrari         291.0     3
5  2023          Ferrari          88.0     0

Let's remind how were the first 5 years of Schumacher in Ferrari:
    year constructor_name  Total Points  Wins
6   1996          Ferrari          59.0     3
7   1997          Ferrari          78.0     5
8   1998          Ferrari          86.0     6
9   1999          Ferrari          44.0     2
10  2000          Ferrari         108.0     9

Total points can be deceiving. A far better metric is number of wins in this case. Schumacher didn't accomplish
a lot during the his first 4 years in Ferrari, but he still was winning races in every single season. In this
regard, Leclerc's wins are an exception, not a rule.